b{
    text-transform: uppercase;
    color: rgb(255, 47, 191);
}
.antwort{
    font-weight: 600;
    display: inline-block;
    color: rgb(46, 124, 62);
    vertical-align: top;
}
#geburtstag{
    font-size: 20px;
    display: block;
}
#anita{
    font-size: 50px;
    font-weight: 600;
    display: block;
    text-align: left;
}
h2{
    display: inline-block;
    font-size: 35px;
    font-weight: 600;
    margin: 20px;
}
h3{
    font-size: 18px;
    margin-top: 40px;
}
.frage{
    display: inline-block;
    vertical-align: top;
}
.nummer{
    display: inline-block;
}
.abc{
    display: inline-block;
    margin-left: 8px;
}
.dingsda{
    display: inline-block;
    vertical-align: top;
    width: calc(85vmin - 33px);
    margin:0;
}
.dingsdaa{
    display: inline-block;
    vertical-align: top;
    width: calc(55vmin - 33px);
    margin:0;
}
.klein{
    width: 30%;
    height: auto;
    vertical-align: top;
    padding: 0;
    margin: 0;
    display: inline-block;
    text-align: right;
}
body{
    font-family: "Comic Sas MS", Arial, sans-serif;
    margin: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: white;
}
#main{
    text-align: left;
    width: 85vmin;
    min-width: 45%;
    margin: auto;
    font-size: 17px;
    font-weight: 300;
}
#ueberschrift{
    text-align: center;
    width: 90vw;
    margin: auto;
}
#warmup{
    margin: auto;
}
.dings{
    margin-top: 20px;
    margin-bottom: 20px;
}
p{
    padding: 0;
    margin: 0;
    line-height: 34px;
}
