b{
    text-transform: uppercase;
    color: rgb(253, 42, 207);
}
.antwort{
    font-weight: 600;
    display: inline-block;
    color: rgb(3, 173, 26);
    vertical-align: top;
}
#anita{
    font-size: 50px;
    font-weight: 600;
    display: inline-block;
}
h2{
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
}
h3{
    font-size: 18;
}
.frage{
    display: inline-block;
    vertical-align: top;
}
.nummer{
    display: inline-block;
}
.abc{
    display: inline-block;
    margin-left: 8px;
}
.dingsda{
    display: inline-block;
    vertical-align: top;
    width: calc(85vmin - 33px);
}
body{
    font-family: "Comic Sas MS", Arial, sans-serif;
    margin: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 8px;
    margin-bottom: 8px;
}
#main{
    text-align: left;
    width: 85vmin;
    min-width: 45%;
    margin: auto;
    padding-top:16px;
    padding-bottom: 16px;
    font-size: 17px;
    font-weight: 300;
}
#ueberschrift{
    text-align: center;
    width: 90vw;
    margin: auto;
}
#warmup{
    margin: auto;
}
.dings{
    margin-top: 16px;
    margin-bottom: 16px;
}
p{
    padding: 0;
    margin: 0;
    line-height: 34px;
}
